*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
background: radial-gradient(circle at -8.9% 51.2%, rgb(255 0 0) 0%, rgb(255 0 0 / 66%) 15.9%, rgb(255 77 77 / 94%) 15.9%, rgb(255 0 0 / 45%) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);}
.container{
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 60vh;
    width: 50vh;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}
form{
    margin: 2rem 0 1rem 0;
}
form select, button, input{
    width: 100%;
    border-radius: 0.75rem;
    padding: 0.7rem;
    border: none;
    font-size: 1rem;
    outline: none; 
}
form input{
    border: 1px solid #ccc;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
}
.select-container{
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    width: 6rem;
}
.select-container select{
    width: auto;
    font-size: 1rem;
}
.msg{
    text-align: center;
    margin: 2rem 0 2rem 0;
    font: bold;
    font-size: larger;
}
form button{
    height: 3rem;
    background: #db6464;
    color: #fff;
    font-size: larger;
    cursor: pointer;
}